# Python packaging
*.egg-info/
*.egg

# Python cache
**/__pycache__/
**/__pycache__/*

# System files
.DS_Store

# Audio/Video files
recorded_audio.*

# Environment and config
.envrc
.venv/
venv/
/output
concat_list.txt
coqui_config.json
config/ganglia_config.json
config/chatgpt_session_config.json
config/hotwords.json
config/ttv_config.json
config_backups/*

# Test outputs
tests/unit/ttv/test_outputs/
tests/third_party/ttv/test_outputs/
tests/integration/ttv/test_outputs/

# Logs
/logs

