**/__pycache__/
**/__pycache__/*
.DS_Store
recorded_audio.*
.env
/output
concat_list.txt
coqui_config.json
config/ganglia_config.json
config/chatgpt_session_config.json
config/hotwords.json
config/ttv_config.json
config_backups/*
venv/*
# Test outputs
tests/integration/ttv/test_outputs/
tests/ttv/test_outputs/

