
{
  "style": "pencil drawing with stippling",
  "story": [
      "a woman draws her own hand",
      "her drawing becomes the cover of a drawing sketchbook",
      "it becomes the defacto cover for these sorts of sketchbooks, and she retires in giant pile of money"
    ]
}